<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="my-3 d-flex justify-content-between align-items-center">
                <div class="input-group w-50">
                    <select class="form-select" id="resolution" v-model="choice">
                        <option value="" disabled>-- 請選擇解析度 --</option>
                        <option v-for="type in imageStatus">
                            {{ type }}
                        </option>
                    </select>
                    <button class="btn btn-outline-primary" type="button" @click="upData">
                        更新大頭貼
                    </button>
                </div>
                <p class="fs-4 m-0">
                    現在圖片解析度：
                    <span v-if="choice === '' || choice === '清楚' ">清楚</span>
                    <span v-else-if="choice === '朦朧美' ">{{choice}}</span>
                    <span v-else>{{choice}}</span>
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3" v-for="item in user">
                    <div class="card h-100">
                        <div class="position-absolute" style="top: 20px; right: 20px">
                            <button type="button" class="btn btn-outline-danger rounded-pill" @click="item.test = !item.test">
                                <i class="bi bi-heart fs-5 " v-if="!item.test"></i>
                                <i class="bi bi-heart-fill fs-5" v-else></i>
                            </button>
                        </div>
                        <img :src="item.picture[check()]" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">
                                {{item.name.title}} {{item.name.first}} {{item.name.last}}( <span v-if="item.gender === 'male'">👨</span> <span v-else>👩</span> )
                            </h5>
                            <p class="card-text">
                                Email：<a :href=`mailto:${item.email}`>{{item.email}}</a>
                            </p>
                            <p class="card-text">
                                Phone: <a :href=`tel:${item.phone}`>{{item.phone}}</a>
                            </p>
                            <p class="card-text">
                                Cell: <a :href=`tel:${item.cell}`>{{item.cell}}</a>
                            </p>
                            <p class="card-text">City: {{item.location.city}}</p>
                            <p class="card-text">State: {{item.location.state}}</p>
                            <p class="card-text">Country: {{item.location.country}}</p>
                            <p class="card-text">Postcode: {{item.location.postcode}}</p>
                            <p>
                                Address：<a :href=`https://www.google.com.tw/maps/search/${item.location.city}${item.location.state}` target="_blank">{{item.location.city}} {{item.location.state}} {{item.location.country}} {{item.location.postcode}}</a>
                            </p>
                            <p class="card-text">
                                description: {{item.location.timezone.description}}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">dob：{{item.dob.date}}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">registered：{{item.registered.date}}</small>
                            </p>
                            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" :src=`https://maps.google.com.tw/maps?f=q&amp;hl=zh-TW&amp;geocode=&amp;q=${item.location.coordinates.latitude},${item.location.coordinates.longitude}&amp;z=10&amp;output=embed`></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    imageStatus: ['清楚', '朦朧美', '不可見人'],
                    choice: "",
                    user: []
                }
            },
            methods: {
                //取資料
                getData() {
                    const api = 'https://randomuser.me/api/?results=9';
                    axios.get(api)
                        .then((response) => {
                            console.log(response.data.results)
                            this.user = response.data.results
                        })
                        .catch((err) => {
                            console.log(err.response)
                        })
                },
                //更新
                upData() {
                    this.getData();
                },
                //判斷choice
                check() {
                    let size = ""
                    switch (this.choice) {
                        default: size = "large";
                        break;
                        case '朦朧美':
                                size = "medium";
                            break;
                        case '不可見人':
                                size = "thumbnail";
                            break;
                    }
                    console.log(size)
                    return size
                },


            },
            mounted() {
                this.getData();
                this.check();
            },
        });

        app.mount('#app')
    </script>
</body>

</html>